div {
  font-family: 'Lexend Deca', sans-serif;
  color: darkblue;
}

.dropdown{
  box-sizing: border-box;
  padding: 20px;
  align-items: center;
  background: #fff;
  padding: 20px;
  border-radius: 4px;
  margin-top: 10px;
  margin: 10px auto;
  width: 70%;
  box-shadow: 0 2px 1px rgba(0,0,0,.08);
  position: relative;
}

.text{
  padding: 20px;
}

.text-cinema{
  padding: 20px;
}