@import url("https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap");

body {
  font-family: 'Lexend Deca', sans-serif;
  background-image: url('./img/bg.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
}
